@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body, #root {
  margin: 0;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.app-bar-children {
  display: flex;
  align-items: center;
}

.app-bar-children a {
  color: white !important;
}

.lobbies {
  flex: auto;
  position: relative;
}

.lobbies-username {
  padding: 16px;
}

.lobbies-float-action {
  right: 16px;
  bottom: 16px;
  position: absolute;
}

.lobbies-item {
  margin-top: 16px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.last-row .last-column .square {
  color: orangered;
  font-weight: bold;
}
